.button-modal {
  display: grid;
  grid-template-columns: 92px auto 24px;
  grid-template-rows: auto auto;
  column-gap: 16px;
  row-gap: 4px;

}

.button-modal__title {
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: "Suisse-Intl", serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  text-align: left;
}

.button-modal span {
  font-family: "Suisse-Intl", serif;
  font-weight: 400;
  color: @usual-font-color;
  font-size: 12px;
  line-height: 160%;
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: left;
}

