.button-heart {
  border: none;
  background-color: @white-base;
  color: @grey-font-button;
  min-width: 108px;
  min-height: 24px;
  cursor: pointer;

  &:hover {
    color: @usual-font-color;
  }

  &:active {
    color: @blue-button;

    & .button-heart-svg {
      stroke: @blue-button;
      fill: @blue-button;
    }
  }
}

.button-heart-svg {
  fill: @white-base;
}

.button-heart span {
  padding-left: 10px;
  padding-right: 10px;
}
