.page {
  min-width: 345px;
  *, *::before, *::after {
    box-sizing: border-box;
  }
  background-color: @white-base;
}

.page__body {
  font-family: "Suisse-Intl", serif;
  font-weight: 400;
  color: @usual-font-color;
  font-size: 12px;
  line-height: 160%;
  width: 100%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    width: 1280px;
    margin: 0 auto;
  }
}

.page__main {
  margin-top: 64px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: grid;
    width: 1200px;
    grid-template-columns: 380px auto;
    gap: 60px;
    align-items: start;
  }

  @media (min-width: @desktop-width) {
    width: 1360px;
    grid-template-columns: 433px auto;
    gap: 60px;
  }
}

.page__main-head {
  margin: 0 auto;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
  }
}

.page__main-galery {
  order: -1;
  margin: 0 auto;
  width: 345px;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.section_wrapper {
  width: 345px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 760px;
  }

  @media (min-width: @desktop-width) {
    width: 867px;
  }
}

.spec_wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 46% 46%;
    column-gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 46.5% 46.5%;
  }
}


.page__main-price {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    grid-column: 2/3;
    margin-bottom: 32px;
  }
}

.page__main-specs {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    grid-column: 1/2;
  }
}

.page__main-description {
  padding: 20px;
  border: 1px solid #eeeeee;

}
